services:
  # --- The Backend (ERPNext + Frappe) ---
  backend:
    build: .
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - REDIS_CACHE=redis-cache:6379
      - REDIS_QUEUE=redis-queue:6379
      - REDIS_SOCKETIO=redis-socketio:6379
      - SITE_NAME=${SITE_NAME}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      - mariadb
      - redis-cache
      - redis-queue
      - redis-socketio
    networks:
      - default

  # --- The Database (MariaDB) ---
  mariadb:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=frappe
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - default

  # --- The Cache (Redis) ---
  redis-cache:
    image: redis:6.2-alpine
    networks:
      - default

  redis-queue:
    image: redis:6.2-alpine
    networks:
      - default

  redis-socketio:
    image: redis:6.2-alpine
    networks:
      - default

# --- Storage Definition ---
volumes:
  sites:
  logs:
  db-data:
